<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <!-- Thanks for reading my code -->
    <title>Weather app</title>
    
    <!-- Info For Bots -->
    <meta name="keywords" content="web, website, Software, design, develop, deseigner, developer, engineer, architect, frontend, backend, stack, fullstack, jsownwebtoken, multer.js, nodejs, express.js, mongodb, wordpress, linux, admin, administrator seo, resume, cv, portfolio, Sidi Mohammed Moustafa Bounoua,">
	<meta name="description" content="thisismoe Showcase">
	<meta name="author" content="Sidi Mohammed Moustafa Bounoua">
	<meta name="robots" content="all">



    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

    <div class="main-content">
    {{>header}}
    <p>Check your weather here.</p>
    <form action="">
        <input type="search" name="" id="" placeholder="location">
        <button type="submit">Search</button>
        <p id="message-1"></p>
        <p id="message-2"></p>
    </form>
    </div>  

    {{>footer}}

    <script src="/js/app.js"></script>
</body>
</html>
